{% extends '::dashboard.html.twig' %}

{% block main %}
        <div class="row">
          <div class="col-md-12">
              <div class="pull-left">
                <h1 class="page-header">Edit property</h1>
              </div>
              <div class="pull-right">
                  <a href="{{ path('app_backend_property_index') }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-chevron-left"></i><span> Back</span></a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="box">
          {% include 'AppBackendBundle:Property:_form.html.twig' %}
          </div>
        </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    define("static_data",function(require, exports, module){
      "use strict";
      var data = {};
      data.view = 'edit';
      data.property_statuses = {{ property_statuses|serialize('json')|raw }};
      data.organisation_types = {{ organisation_types|serialize('json')|raw }};
      data.property = {{ property|serialize('json', context)|raw }};
      return data;

    });

    require(["/js/common.js"], function(common){
      require(['app/modules/properties/controller/edit.controller']);
    });
  </script>
{% endblock %}