<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a></li>
</ul>
<div class="tab-content margin-top-20">
	<div role="tabpanel" class="tab-pane active" id="overview">
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal">
					<!-- TYPE -->
					<fieldset>
					<legend>Type</legend>
					<div class="form-group form-group-lg">
				    	<label class="col-sm-3 control-label" for="choose_contact_type">Contact type:</label>
					    <div class="col-sm-6 control-readonly">
					    	{{ contact.contacttype.name }}
						</div>
					</div>
					</fieldset>
					<!-- ORGANISATION -->
					<fieldset id="organisation-fieldset">
						<legend>Organisation</legend>
						<div class="form-group form-group-lg organisation-search">
					    	<label class="col-sm-3 control-label" for="contact_organisation">Organisation name:</label>
						    <div class="col-sm-6 control-readonly">
						    	{% autoescape false %}
						    	{{ contact.organisation ? '<a href="'~ path("app_backend_organisation_show", {id: contact.organisation.id})~'">' ~ contact.organisation.name ~ '</a>': "" }}
						    	{% endautoescape %}
							</div>
						</div>

						<div id="organisation_form">
						</div>
					</fieldset>

					<!-- BASIC DETAILS -->
					<fieldset id="basic-details-fieldset">
						<legend>Basic Details</legend>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_title">Title:</label>
						    <div class="col-sm-6 control-readonly">
								{{ contact.contacttitle.name }}
							</div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_name">First name:</label>
					    	<div class="col-sm-6 control-readonly">
					      		{{ contact.name }}
					    	</div>
					    </div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_surname">Last name:</label>
						    <div class="col-sm-6 control-readonly">
						    	{{ contact.surname }}
						    </div>
						</div>
					</fieldset>

					<!-- CONTACT DETAILS -->
					<fieldset id="contact-details-fieldset">
						<legend>Contact Details</legend>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_email">Email:</label>
						    <div class="col-sm-6 control-readonly">
						    	{% autoescape false %}
						    	{{ contact.email?'<a href="mailto:'~contact.email~'">'~contact.email~'</a>' }}
						    	{% endautoescape %}
						    </div>
					  	</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_landline">Landline:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.landline }}
						    </div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_mobile">Mobile:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.mobile }}
						    </div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_mobile">Contact method:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.contactMethod ? contact.contactMethod.name : "" }}
						    </div>
						</div>
						{% if contact.contactMethod %}
							{% if contact.contactMethod.id==4 %}
							<div class="form-group form-group-lg">
						    	<label class="col-sm-3 control-label" for="contact_mobile">Other contact method:</label>
							    <div class="col-sm-6 control-readonly">
						    		{{ contact.contactMethodOther }}
							    </div>
							</div>
							{% endif %}
						{% endif %}
					</fieldset>

					<!-- ADDRESS -->
					<fieldset id="address-fieldset">
						<legend>Address</legend>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_address">Address:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.address }}
						    </div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_town">Town:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.town }}
						    </div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_postcode">Postcode:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.postcode }}
						    </div>
						</div>
					</fieldset>

					<!-- MISCELLANEOUS -->
					<fieldset id="miscellaneous-fieldset">
						<legend>Miscellaneous</legend>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_job_title">Job title:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.jobTitle }}
						    </div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_other_type">Subtype:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.othertype ? contact.othertype.name : ""  }}
						    </div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_comments">Comments:</label>
						    <div class="col-sm-6 control-readonly">
					    		{{ contact.comments }}
						    </div>
						</div>
					</fieldset>

					<!-- ADMINISTRATION -->
					<fieldset id="administration-fieldset">
						<legend>Administration</legend>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="landlord_status">Status:</label>
						    <div class="col-sm-6 control-readonly">{{ contact.contactstatus.name}}</div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_status">Created by</label>
						    <div class="col-sm-6 control-readonly">
								{{contact.createdBy ? contact.createdBy.name : ""}} ({{contact.createdAt|date("d/m/Y H:i:s")}})
							</div>
						</div>
						<div class="form-group form-group-lg">
					    	<label class="col-sm-3 control-label" for="contact_status">Updated by</label>
						    <div class="col-sm-6 control-readonly">
								{{contact.updatedBy ? contact.updatedBy.name : ""}} ({{contact.updatedAt|date("d/m/Y H:i:s")}})
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>