{% extends '::dashboard.html.twig' %}

{% block main %}
        <div class="row">
          <div class="col-md-12">
              <div class="pull-left">
                <h1 class="page-header">Tenancies {{ property ? 'of ' ~ property.address : '' }}</h1>
              </div>
              <div class="pull-right">
                  <a href="{{ property ? path("app_backend_tenancy_new", {property: property.id}) : path("app_backend_tenancy_new") }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i><span> Add tenancy</span></a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <table id="table-tenancies"></table>
          </div>
        </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    define("static_data",function(require, exports, module){
      "use strict";
      var data = {};
      data.view = 'index';
      data.property = {{ property|serialize('json')|raw }};
      return data;

    });
    require(["/js/common.js"], function(common){
      require(['app/modules/tenancies/controller/index.controller']);
    });
  </script>
{% endblock %}