{% extends '::dashboard.html.twig' %}

{% block main %}
        <div class="row">
          <div class="col-md-12">
              <div class="pull-left">
                <h1 class="page-header">Dashboard</h1>
              </div>
              <div class="pull-right">
                  <a id="btn-add-ticket" href="{{ path("app_backend_ticket_new") }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i><span> Add task</span></a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <table id="table-javascript"></table>
          </div>
        </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    define("static_data",function(require, exports, module){
      "use strict";
      var data = {};
      data.view = 'index';
      data.user = {};
      data.user.id = {{app.user.id}};
      data.change_password = {{ change_password ? 1:0 }};
      return data;

    });

    require(["/js/common.js"], function(common){
      require(['app/modules/dashboard/controller/index.controller']);
    });
  </script>
{% endblock %}