{% extends '::dashboard.html.twig' %}

{% block main %}
        <div class="row">
          <div class="col-md-12">
              <div class="pull-left">
                <a href="#" class="btn btn-default btn-lg" onclick="history.back(); return false;"><i class="glyphicon glyphicon-chevron-left"></i><span> Back</span></a>
              </div>
              <div class="pull-right">
                  <a href="{{ path('app_backend_ticket_edit',{"id": ticket.id}) }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-pencil"></i><span> Edit task</span></a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="pull-left">
                <h1 class="page-header">Ticket details</h1>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="box">
			<form class="form-horizontal">
				<div id="fields-container">
				</div>
			</form>
          </div>
        </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    define("static_data",function(require, exports, module){
      "use strict";
      var data = {};
      data.view = 'show';
      data.ticket = {{ ticket|serialize('json', context)|raw }};
      return data;

    });

    require(["/js/common.js"], function(common){
      require(['app/modules/tickets/controller/show.controller']);
    });
  </script>
{% endblock %}




